<section class="w-100">
  <app-header-title />
  <app-image imagePath="assets/illustrations/basket_fruit.png"/>
  <section class="w-100 p-3">
    <div class="container text-center product-details">
      <div class="row">
        <div class="col">
          <div class="badge-category">
            <span class="circle-badge"></span>
            <span>Hortifrúti</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="span-title">Nome</span>
          <span>Picanha</span>
        </div>
        <div class="col">
          <span class="span-title">Preço</span>
          <span><span class="span-title">R$ </span> 200,00</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="span-title">Preço/Kg</span>
          <span><span class="span-title">R$ </span> 2100,00</span>
        </div>
        <div class="col">
          <span class="span-title">Peso</span>
          <span>1.200<span class="span-title">Kg</span></span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="span-title">Unidade ou fardo</span>
          <span>Unidade</span>
        </div>
        <div class="col">
          <span class="span-title">Quantidade</span>
          <span>6</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="span-title">Preço unitário</span>
          <span><span class="span-title">R$ </span> 20,00</span>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <div class="w-100 mb-1">
      <app-button buttonTitleText="Editar produto" [useSvgIcon]="true" iconPath="edit"/>
    </div>
    <div class="w-100">
      <app-button buttonTitleText="Excluir do carrinho" [useSvgIcon]="true" iconPath="delete" [variant]="'delete'"/>
    </div>
  </section>
</section>