<section class="p-3 responsive-layout">
  <app-image imagePath="assets/illustrations/home_screen.png"/>
  <div class="content">
    <app-title titleText="Como é bom te ver aqui!"/>
    <app-sub-title subTitleText="Estamos felizes em ajudar você a organizar suas compras e acompanhar os produtos no carrinho. 
      Só um lembrete: o valor final da sua compra pode ter uma pequena variação, tanto para mais quanto para menos. Isso acontece porque alguns descontos especiais ou ajustes podem ser aplicados diretamente no caixa. 😉"/>
    <app-sub-title subTitleText="Então, fique tranquilo e aproveite a experiência! Afinal, o importante é encher o carrinho de boas escolhas e sair daqui com um sorriso no rosto. 😄"/>
    <div class="w-100">
      <app-button buttonTitleText="Vamos encher o carrinho!" (handleClickButton)="handleClickGoHome()" [useSvgIcon]="true" iconPath="shopping_basket"/>
    </div>
  </div>
</section>
