<section class="p-3 responsive-layout">
  <app-image imagePath="assets/illustrations/error.png"/>
  <div class="content">
    <app-title titleText="404 - Você se perdeu no supermercado!"/>
    <app-sub-title subTitleText="Opa! Parece que você entrou no corredor errado... Aqui não tem descontos, nem produtos, só prateleiras vazias! 😅"/>
    <app-sub-title subTitleText="Que tal voltar para a entrada principal antes que o segurança ache que você está perdido de verdade?"/>
    <app-sub-title subTitleText="E lembre-se: o carrinho está sempre ali para te guiar nos momentos difíceis. 🛒"/>
    <div class="w-100">
      <app-button buttonTitleText="Voltar às compras" [useSvgIcon]="true" (handleClickButton)="handleClickGoBack()" iconPath="keyboard_arrow_left"/>
    </div>
  </div>
</section>
