.responsive-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-top: 20px;
}

.botoes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px;
}

@media (min-width: 768px) {
  .responsive-layout {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    gap: 32px;
  }

  .content {
    flex: 2;
    align-items: flex-start;
  }
}
