<section class="w-100">
  <app-header-title [titleHeader]="'Novo produto'" />
  <div class="form-content">
    <div class="w-100 form-group" [formGroup]="productForm">
      <app-header spanText="O preço do produto é" backgroundColor="background-gray" [price]="calculateFinalPrice"/>

      <!-- Nome do produto -->
      <input placeholder="Nome" class="common-input" type="text" formControlName="name" />

      <!-- Dropdown de categoria -->
      <app-category-dropdown (optionSelected)="handleOptionSelected($event)"/>

      <!-- Campos condicionais para produtos que usam preço por quilo -->
      @if (isProductThatUsePerKilo) {
        <input placeholder="Preço por quilo (R$)" class="common-input" type="number" formControlName="pricePerKilo" />
        <input placeholder="Peso (kg)" class="common-input" type="number" formControlName="kilo" />
      }

      <!-- Campos condicionais para produtos que usam preço por unidade -->
      @if (isProductThatUsePerUnit) {
        <div class="unit-bale-dropdown">
          <select formControlName="unitOrBale">
            <option [value]="true">Unidade</option>
            <option [value]="false">Fardo</option>
          </select>
        </div>
        <input placeholder="Preço por unidade (R$)" class="common-input" type="number" formControlName="unitPrice" />
        <input placeholder="Quantidade" class="common-input" type="number" formControlName="quantity" />
      }

      <!-- Botão para salvar o produto -->
      <app-button
        buttonTitleText="Adicionar"
        [variant]="'full'"
        [useSvgIcon]="true"
        iconPath="add"
        (handleClickButton)="handleClickButtonSave()"
        [isDisabled]="productForm.invalid"
      />
    </div>
  </div>
</section>