.card-item {
  display: flex;
  align-items: center;
  background-color: transparent !important;
  border: 1px solid var(--gray-4);
  border-radius: 6px;
  padding: 10px;

  .card-price {
    font-size: 14px;
    font-weight: bold;
    color: var(--gray-2);
    margin-right: 8px;
  }

  .card-divider {
    width: 1px;
    height: 16px;
    background-color: var(--gray-4);
    margin-right: 8px;
  }

  .card-description {
    flex: 1;
    font-size: 14px;
    color: var(--gray-2);
  }
}
